cairosvg==2.7.1
dem-stitcher==2.5.5
dnspython==2.6.1
geopy==2.4.1
gpxpy==1.6.2
matplotlib==3.9.0
mypy==1.14.1
mypy-protobuf==3.4.0
natsort==8.4.0
nicegui==2.9.1
numpy==2.2.1
opencv-python==4.11.0.86
overpy==0.7
pathvalidate==3.2.0
pytest==8.3.3
svgpathtools==1.6.1
svgpath2mpl==1.0.0
ruff==0.4.6
textalloc==1.1.6
shapely==2.0.6
types-shapely==2.0.0.20241221
orjson==3.10.7
requests==2.32.4
